/* General Table Styles */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.9rem;
  background-color: var(--background-paper);
  color: var(--text-primary);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.user-table thead tr {
  background-color: var(--primary-main);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  border-bottom: 1px solid var(--divider);
}

.user-table tbody tr {
  transition: background-color 0.2s ease-in-out;
}

.user-table tbody tr:nth-of-type(even) {
  background-color: var(--background-default);
}

.user-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-main);
}

.user-table tbody tr:hover {
  background-color: var(--action-hover);
  cursor: pointer;
}

.user-table td .pagination-button {
  padding: 6px 12px;
}

/* You can add global styles to this file, and also import other style files */
.user-management-container {
  margin-left: 70px; /* Adjust based on sidebar width */

}